@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
	margin: 0;
	overflow-x:hidden !important; 
}

.font-1
{
	font-family: 'Ubuntu', sans-serif;
}

.font-2
{
	font-family: 'Julius Sans One', sans-serif;
}

.progress-bar-1
{
	height: 3px !important;
}

.active-menu
{
	background: rgba(179, 44, 41, 0.12);
}